@media screen and (min-width: 1192px) {
	.catalog-menu__list > li.with-drp:hover .catalog-menu__drp {
	    opacity: 1;
	    visibility: visible;
	    z-index: 12;
	}
}

@media (max-width: 1430px) and (min-width: 1192px) {
	.header-blue__col.hb-1 {width: 430px;}
	.header-links li {margin-left: 20px;}
	.header-sticky.sticky .catalog-menu {width: 265px;}
	.header-sticky.sticky .header-blue__col.hb-1 {width: 300px;}
	.catalog-menu__btn {font-size: 14px;}
	.catalog-menu__btn:after {top: 19px;}
	.catalog-menu__drp {width: 720px;}
	.product-tabs .nav-tabs .nav-link span {font-size: 16px;}
	.catalog-menu__list > li > a {padding: 5px 15px;}
	.footer-top__title {font-size: 15px;}
	.footer-top__ul li a {font-size: 13px;}
	.logo-text {font-size: 13px; line-height: 13px;}
	.fast-preview .modal-dialog {max-width: 960px;}
	.catalog-item {padding: 10px;}
	.discount-item__bottom {-ms-flex-wrap: wrap;flex-wrap: wrap;}
	.discount-item .fast-preview-slider__arrows {bottom: 76px;}
	.discount-item .line-product__pm {margin-top: 10px;}
	.availability-list__title {font-size: 16px;}
	.action-modal .close {right: 10px; top: 10px;}
}

@media (max-height: 660px) and (min-height: 0px) {
	.catalog-menu__list > li > a {padding: 4px 20px;}
}

@media (max-width: 1191px) and (min-width: 0px) {
	.catalog-menu__drp {left: 0; width: 100%; z-index: 20;}
	.catalog-menu__body {background: #fff;}
	.header-nav {border: 1px solid #e6e6e6; padding: 2px;}
	.header-nav .navbar {-webkit-box-pack: end;-ms-flex-pack: end;justify-content: flex-end;}
	.header-nav .navbar-toggler {padding: 2px 10px;}
	.logo img {position: relative;}
	.logo-wr {-webkit-box-align: center;-ms-flex-align: center;align-items: center; justify-content: center;}
	.logo-wr .logo {width: 110px;}
	.header-blue__col.hb-1 {width: 100%; margin: 0; padding: 0;}
	.product-tabs .nav-tabs .nav-link span {font-size: 16px;}
	.footer-map-item {background: #fff;}
	.modal-dialog {margin-top: 100px;}
	.fast-preview-inner {padding-top: 40px;}
	.modal .close {left: 50%; transform: translateX(-50%); top: -30px;}
	.header-bottom {padding-bottom: 10px;}
	.text-img {-ms-flex-wrap: wrap;flex-wrap: wrap;}
	.text-img__left {width: 100%;}
	.footer-map__title {font-size: 24px;}
	.catalog-item {padding: 10px;}
	.catalog-item__top {-ms-flex-wrap: wrap;flex-wrap: wrap;}
	.catalog-item__bottom {-ms-flex-wrap: wrap;flex-wrap: wrap;}
	.catalog-item .line-product__list {margin-bottom: 10px;}
	.discount-item__bottom {-ms-flex-wrap: wrap;flex-wrap: wrap;}
	.discount-item .fast-preview-slider__arrows {bottom: 76px;}
	.discount-item .line-product__pm {margin-top: 10px;}
	.cart-page__del {margin-top: 0; margin-bottom: 15px; margin-top: -26px;}
	div.title-search-result {width: 100% !important;}
	.footer-slider {padding: 0 30px;}
	.footer-slider .slick-arrow.slick-prev {left: 15px;}
	.footer-slider .slick-arrow.slick-next {right: 15px;}
	.right-menu {margin-bottom: 60px;}
	.catalog-menu__drp {height: auto;}
	.catalog-menu__banner {position: relative; top: 0; left: 0; bottom: inherit; width: 100%; margin-top: 15px;}
	.catalog-menu__drp {padding: 30px 15px;}
	.header-links {display: block; text-align: center;}
	.header-links li {margin-bottom: 10px;}
	.header-links li span {display: inline;}
	.header-links li div {display: inline;}
	.header-mail {margin-bottom: 10px; text-align: center;}
	.header-phone {margin-bottom: 5px;}
	.header-phone {text-align: center;}
	.right-fixed {display: none;}
	.catalog-menu__list > li > a {padding: 4px 20px;}
	.banner-slider__bottom {margin-bottom: 15px;}
	.action-modal__row {display: block;}
	.action-modal__left {width: 100%;}
	.action-modal__right {width: 100%;}
	.primer-bannera {height: auto;}
	.header-blue__row {margin: 0 -15px;}
	.header-blue__col.hb-2 {width: 50%; padding: 0 15px;}
	.header-blue__col.hb-3 {width: 50%; padding: 0 15px; padding-left: 0;}
	.header-list-drp {width: 100%;}
	.header-list-drp .dropdown-toggle {padding: 5px 5px; width: 100%;}
	.header-blue__col.hb-1 {margin-bottom: 15px; padding: 0 15px;}
	.header-list-btn__text {font-size: 13px; font-weight: normal;}
	.cart-btn b {font-weight: bold;}
	.cart-btn .icon-cart {top: 6px; left: 3px;}
	.header-top {padding-top: 50px;}
	.header-bottom .container {padding: 0; max-width: 100%;}
	.header-bottom {position: fixed; top: 0; left: 0; width: 100%; z-index: 200; padding: 0; border: none; box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.2); background: #85ba00;}
	.header-bottom .container > .row {flex-wrap: nowrap; margin: 0;}
	.header-bottom .container > .row > .col-lg-3, .header-bottom .container > .row > .col-lg-9 {padding: 0;}
	.header-nav {background: #85ba00;}
	.up-btn {display: none;}
	.header-list-drp .dropdown-menu {
		width: calc(100vw - 30px);
		left: 15px !important;
		top: 80px !important;
		transform: none !important;
		position: fixed !important;
	}
	.header-list-drp .line-product__photo .preview-photo {top: 0; right: 0; transform: none; left: inherit;}
	.header-nav {border: none;}
	.header-nav .navbar {align-items: center; padding: 2px 20px; border: none;}
	.header-nav .navbar-brand {display: block; font-size: 14px; margin-right: 10px;}
	.header-nav .navbar-toggler-icon {background: url("header-catalog-icon.png") no-repeat; width: 15px; height: 13px;}
	.header-nav .navbar-toggler {border: none; padding: 0; margin-top: -3px;}
	.catalog-menu__btn {border-radius: 0; padding: 9px 20px; font-size: 14px; white-space: nowrap;}
	.catalog-menu__body {width: calc(100vw - 0px);}
	.header-nav .navbar-collapse {position: absolute; top: 100%; right: -2px; width: calc(100vw - 0px); background: #85ba00; z-index: 100;}
	.header-nav .navbar-nav .nav-link {padding: 10px 20px; color: #fff;}
	.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {color: #fff;}
	.catalog-menu__btn span i {display: none;}
	.catalog-menu__btn:after {top: 18px;}
	.header-list-btn__text .hidden-text {display: block; font-size: 13px;}
	.header-list-btn__text i {display: none;}
	.header-list-drp__row {display: block;}
	.header-list-drp__price {margin-bottom: 5px;}
	.header-links .icon-check {display: inline-block;}
	.header-links .icon-login {display: inline-block;}
	.header-phone {width: 300px; margin: 0 auto; margin-bottom: 5px; text-align: left;}
	.header-mail {width: 300px; margin: 0 auto; margin-bottom: 5px; text-align: left;}
	.header-links {width: 300px; margin: 0 auto; margin-bottom: 5px; text-align: left;}
	.logo-wr {margin-bottom: 10px;}
	.catalog-menu__drp {overflow: auto; height: 100%;}
	.banner-slider img {max-width: inherit; width: 100%;}
	.header-blue__col .cart-btn {width: 100%;}
	.header-list-drp button.close {display: block;}
	.product-wr {max-height: 320px;}
	.header-list-drp__btn .btn {width: 100%;}
	.catalog-menu__list {max-height: calc(100vh - 75px); overflow: auto;}
	.main-row {margin: 0;}
	.main-row__left {padding: 0; width: 50%;}
	.main-row__right {padding: 0; width: 50%;}
	.offset-main-left {margin-left: 0;}
	.footer-top__col {padding-right: 15px;}
	.catalog-menu__btn:after {display: none;}
	.services-page__col {width: 25%;}
	.delivery-page-well {display: block;}
}

@media (max-width: 967px) and (min-width: 0px) {
	.services-page__col {width: 33.33333%;}
	.gallery-item__link {float: none; margin-bottom: 15px;}
	.gallery-right {float: none; margin-top: 0; flex-wrap: wrap;}
	.gallery-right > div {margin-right: 20px; margin-left: 0;}
}

@media (max-width: 767px) and (min-width: 0px) {
	.header-search__body {min-width: 100%;}
	.line-product__row {-ms-flex-wrap: wrap;flex-wrap: wrap;}
	.footer-top__col {width: 100%;}
	.catalog-item .line-product__list {-ms-flex-wrap: wrap;flex-wrap: wrap;}
	.catalog-item .line-product__list li {margin-bottom: 5px;}
	.discount-item__bottom > div {width: 100%;}
	.discount-item .fast-preview-slider__arrows {bottom: 145px;}
	.discount-item .slick-arrow {display: none !important;}
	.main-text__title {font-size: 20px;}
	.text-img__left {padding: 15px;}
	.action-item__img {border: 2px solid #e6e6e6; border-bottom: none;}
	/* .catalog-filter-item__name {padding: 10px 10px;} */
	.catalog-filter-item__btn {padding: 10px 10px;}
	.order-top {display: block;}
	.subs-item__row {display: block;}
	.footer-map__content .footer-map-item {display: block;}
	.footer-map-item__left {text-align: center;}
	.line-product__pm {width: 100%; margin-bottom: 10px;}
	.pm-wrap {width: 100%;}
	.pm-wrap input {width: 100%; flex: 1;}
	.cart-page .catalog-item__price {order: 1;}
	.cart-page .catalog-item__name {width: calc(100% - 40px);}
	.cart-page .catalog-item__topLeft {width: 100%; margin-bottom: 15px;}
	.cart-page .catalog-item__oldPrice {text-align: left;}
	.line-product__photo .preview-photo {left: 0; top: -10px; transform: none;}
	.catalog-item .line-product__photo .preview-photo {left: 0; top: -10px; transform: none;}
	.catalog-item__del {top: 17px; right: 3px;}
	.lk-profile__title {font-size: 18px;}
	.main-partners h2 {font-size: 24px;}
	.main-partners__title {font-size: 24px;}
	.catalog-menu__title {font-size: 20px;}
	.text-well {font-size: 16px;}
	.text-img__left {margin-bottom: 10px; font-size: 16px;}
	.catalog-item__topLeft {width: calc(100% - 30px);}
	.catalog-item__action {position: absolute; top: 0; right: 5px;}
	.logo img {width: 60px; height: 60px;}
	.logo-wr .logo {width: 80px;}
	.catalog-item__price {width: 100%; text-align: left;}
	.container {max-width: 100%;}
	.cart-btn b, .cart-btn .rub {display: none;}
	.cart-btn .hidden-text {display: block; padding-left: 10px; font-size: 14px;}
	.header-blue__col .cart-btn {width: 100%; font-size: 14px; padding: 8px 5px; display: flex; padding-left: 30px;}
	.header-list-drp .dropdown-menu {top: 120px !important;}
	.availability-list__sht {width: 80px;}
	.check-modal__inner {padding: 15px;}
	.services-page__col {width: 50%;}
	.delivery-page-well__left {padding: 15px;}
}

@media (max-width: 520px) and (min-width: 0px) {
	.catalog-filter-item {-ms-flex-wrap: wrap;flex-wrap: wrap;}
	.custom-accordion .btn-link {font-size: 18px;}
	.catalog-view {float: none; margin-top: 0; margin-bottom: 10px;}
	.catalog-view > div {margin-left: 0; margin-right: 15px;}
	.services-page__col {width: 100%;}
}

@media (max-width: 400px) and (min-width: 0px) {
	.header-list-drp {width: 100%;}
	.header-blue__col {width: 100%;}
	.cart-btn {width: 100%;}
	.adr-radio label {width: 100%;}
}

@media print {
	.catalog-item .adr-items {display: block;}
	.catalog-menu {display: none;}
	.header-links {display: none;}
	.header-sticky {display: none;}
	.catalog-item .product-item__addlist {display: none;}
	.catalog-item .line-product__list li:nth-child(1),
	.catalog-item .line-product__list li:nth-child(3) {display: none;}
	.catalog-item .line-product__pm {display: none;}
	.shopping-list-under .slu-item:nth-child(1),
	.shopping-list-under .slu-item:nth-child(2) {display: none;}
	.main-partners {display: none;}
	.footer-top {display: none;}
	.footer-map {display: none;}
	.catalog-filter {display: none;}
	.inner-page .breadcrumb {display: none;}
	.right-menu {display: none;}
	footer {display: none;}
	body > .panel {display: none;}
	.catalog-item__topLeft .line-product__photo {display: none;}
	#bx-panel {display: none;}
	jdiv {display: none;}
	.globalClass_ET {display: none;}
}
